<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">


  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.simplemvc.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
	<filter-name>usernamefilter</filter-name>
 	<filter-class>com.filter.UserNameFilter</filter-class> 
  </filter>
  
  <filter-mapping>
  	<filter-name>usernamefilter</filter-name>
  	<url-pattern>/filter/hello.jsp</url-pattern>
  </filter-mapping>
    <filter>
	<filter-name>passwordfilter</filter-name>
 	<filter-class>com.filter.PassWordFilter</filter-class> 
  </filter>
  
  <filter-mapping>
  	<filter-name>passwordfilter</filter-name>
  	<url-pattern>/filter/hello.jsp</url-pattern>
  </filter-mapping>
</web-app>